
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', 'sana-serif';

}
.menu{
  background-color: #1A202c;
  color: #fff;
  height: 70px;
}

.menu_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.menu_links {
  height: 100%;
  transition: transform .5s;
  display: flex;
}

.menu_item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg) ;
}

.menu_item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --transform: rotate(0)
}

.menu_link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu_link:hover {
  background-color: #4d5f83;
}

.menu_arrow {
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;
}

.menu_nesting {
  list-style: none;
  transition: clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: black;
}

.menu_link--inside{
  padding: 30px 100px 30px 20px;
}

.menu_link--inside:hover {
  background: #4d5f83;
}

.menu_hamburger {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu_igm{
  display: block;
  width: 36px;
}

@media (max-width:800px) {
  .menu_hamburger {
    display: flex;
  }


.menu_item {
  --clip:0;
  overflow: hidden;
}

.menu_item--active{
  --transform: rotate(0);
  --background: #4d5f83;
}

.menu_item--show {
  background-color: var(--background);
}

.menu_links {
  position: fixed;
  max-width: 400px;
  width: 100%;
  top: 70px;
  bottom: 0;
  right: 0;
  background-color: black;
  overflow: auto;
  display: grid;
  grid-auto-rows: max-content;
}

.menu_links--show {
  transform: unset;
  width: 100%;
}

.menu_link {
  padding: 25px 0;
  padding-left: 30px;
  height: auto;
} 

.menu_arrow {
  margin-left: auto;
  margin-right: 20px;;
}

.menu_nesting {
  display: grid;
  position: unset;
  width: 100%;
  transform: translateY(0);
  height: 0;
  transition: height .3s;
}

.menu_link--inside {
  width: 90%;
  margin-left: auto;
  border-left: #4d5f83;
}

}







































/* body {
    background: rgb(250, 251, 252);
    background-image: url("./img/pxfuel.jpg");
    height: 100%;  */

    /* Center and scale the image nicely 
    /* background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

/* img { width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
background-color: rgb(224, 226, 235);
margin-left: 800px;
margin-top: 200px;
display:inline-block;
vertical-align:middle;
}   */

/* .p {
    font-size: 32px;
    padding: 6%;
    font-family: fantasy;
    color: white;
} */

/* h1 {
  font-family: 'Bungee Spice', sans-serif;
font-family: 'Fugaz One', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Tektur', sans-serif;
    font-size: 350%;
    color: #e7e7d9;
    position: relative; top:45px; left:11%;
} */

/* h3 {
  font-family: 'Bungee Spice', sans-serif;
  font-family: 'Fugaz One', sans-serif;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  position: relative; top:60px; left:11%;
  color: antiquewhite;
} */
   
/* button {
    font-family: 'Bungee Shade', cursive;
    width: 150px;
    margin: 0 .5%;
    font-size: 89%;
    color:black;
    background-color:#226c97 ;
    border-radius: 15px;
    box-shadow: 0 0 10px #010b14;
  }
   */
  
 /* button:hover {
    background-color:#416b9b  ;
    color: rgb(199, 163, 163);
  } */
  
  
  /* button:active {
    font-size: 60%;
    box-shadow: 0 0 10px #000 inset;
  } */
  
 
  /* button:focus  {
    outline: none;
    border-color: #03101d;
  } */

  /* .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  } */

